---
const search = Astro.url.searchParams.get("search")! || "";
console.log(search);
---

<search>
  <form>
    <label for="search">Find a Movie</label>
    <input type="search" autofocus id="search" name="search" value={search} />
    <button type="submit">Search</button>
  </form>
</search>
