<fieldset>
    <legend>
      Checkbox
    </legend>
    <label>
      <input name="one" id="one" type="checkbox" />
      <span>Skinka</span>
    </label>
    
    <label>
      <input name="two" id="two" type="checkbox" />
      <span>Ost</span>
    </label>
    
    <label>
      <input name="three" id="three" type="checkbox" />
      <span>Paprika</span>
    </label>
    
  </fieldset>