<form action="">
  <h4>Keyboards</h4>
  <div>
    <label>Numerisk</label>
    <input type="text" inputmode="numeric">
  </div>
  <div>
    <label for="">Decimal</label>
    <input type="text" inputmode="decimal">
  </div>
  <div>
    <label for="">Email</label>
    <input type="email" inputmode="email">
  </div>
  <div>
    <label for="">Telefon</label>
    <input type="text" inputmode="tel">
  </div>
  <div>
    <label for="">URL</label>
    <input type="text" inputmode="url">
  </div>
</form>