  <fieldset>
    <legend>
      Radio
    </legend>
    
    <label>
      <input type="radio" name="bread" />
      <span>Grovt</span>
    </label>
    
    <label>
      <input type="radio" name="bread"/>
      <span>Fint</span>
    </label>
    
  </fieldset>