---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Välkommen.">
  <main>
    <ul>
      <li><a href="/intro">Intro</a></li>
      <li><a href="/avsnitt/anatomi">Anatomi av ett form</a></li>
      <li><a href="/avsnitt/query-params">Inte bara för POSTs!</a></li>
      <li><a href="/avsnitt/inputs">Inputs, inputs, inputs!</a></li>
      <li><a href="/avsnitt/dialog">Dialog</a></li>
      <li><a href="/avsnitt/input-mode">Input Mode aka. native keyboards</a></li>
      <li><a href="/avsnitt/autocomplete">Autocomplete</a></li>
    </ul>
  </main>
</Layout>

<style></style>
