---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Intro">
  <div class="intro" data-scroll-container>
    <section>
      <h1>Hej! 游녦游낕</h1>
    </section>

    <section>
      <h3>Kort om mig</h3>
      <ul>
        <li>10+ 친r erfarenhet av webb. 游놊游낕</li>
        <li>Fuck imposter sydrome: Jag <i>kan</i> CSS, HTML och SVG. OK+ p친 JS/TS</li>
        <li>Helt okej n칛r det kommer till design</li>
        <li>
          Ut칬ver det s친 gillar jag musik (helst av typen argt och snabbt) spelandes i allt f칬r dyra
          headphones (gadgetbudsjett 游뱖) samt att med vuxenst칬vlar vada runt i str칬mmande vatten f칬r
          att fiska 칬ring. Inte n칬dv칛ndigtvis samtidigt.
        </li>
      </ul>
    </section>
    <section>
      <h3>Varf칬r ska jag prata om forms?</h3>
      <ul>
        <li>En webbens grundstenarna.</li>
        <li>Sparar tid och pengar, d친 det ger ett bra utg친ngspunkt att byggas vidare p친</li>
        <li>B칛ttre forms, b칛ttre UX.</li>
      </ul>
    </section>
    <section>
      <h3>S친, jag har varit nede i kaninh친let s친 att ni inte beh칬ver. Nu 친ker vi!</h3>
    </section>
  </div>

  <style>
    .intro {
      display: grid;
      height: 100svh;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
    }
    .intro::-webkit-scrollbar {
      width: 1em;
    }

    .intro::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .intro::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
    section {
      height: inherit;
      padding: var(--spacing-xl);
      scroll-snap-align: center;
      display: grid;
      align-content: center;
    }
  </style>
</Layout>

<script>
  import { inView, animate, spring, stagger, scroll } from "motion";

  const scrollContainer = document.querySelector("[data-scroll-container]");
  /* 
  if (scrollContainer) {
    animate("section *", {
      y: 90,
      opacity: 0,
      //transform: "rotate(360deg)",
    });
    inView(
      "section",
      (info) => {
        console.log("in view", info.target);
        animate(
          info.target.querySelectorAll("*"),
          { opacity: [0, 1], y: [90, 0] },
          { delay: stagger(0.1), easing: spring(), duration: 0.2 }
        );
      },
      { root: scrollContainer, margin: "30% 10% 30% 10%", amount: "any" }
    ); 
    }
    */
  /* if (scrollContainer) {
    scrollContainer.querySelectorAll("section").forEach((section) => {
      const header = section.querySelector("h1");
      if (header) {
        scroll(
          animate(header, { y: [-400, 400] }), 
          {
          //target: header,
          container: scrollContainer,
          axis: "y",
        });
      }
    });
  } */
</script>
