---
// autofocus

console.log(Astro.url);
const search = Astro.url.searchParams.get('search')! || '';

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();

  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

---

<search>
    <form method="POST">
      <label for="movie">Find a Movie</label>
      <input type="search" autofocus id="movie" name="q" />
      <button type="submit">Search</button>
    </form>
  </search>